trainer:
  num_nodes: 1
  devices: 1
  accelerator: "gpu"
  strategy: "deepspeed_stage_1"
  precision: "16-mixed"
  benchmark: true
  accumulate_grad_batches: 1
  max_steps: 10000
  log_every_n_steps: 100
  val_check_interval: 2000
  check_val_every_n_epoch: null
  num_sanity_val_steps: 0
  gradient_clip_algorithm: 'norm'
  gradient_clip_val: 0.5
  enable_progress_bar: false
logger:
  target: pytorch_lightning.loggers.CSVLogger
  params:
    name: ""
    save_dir: ""
callbacks:
  model_checkpoint:
    target: pytorch_lightning.callbacks.ModelCheckpoint
    params:
      dirpath: ""
      save_top_k: -1
      filename: '{step}'
      save_weights_only: false
      save_last: true
      verbose: true
      every_n_train_steps: 2000
  batch_logger:
    target: callbacks.ImageLogger
    params:
      train_batch_frequency: 500  # optimization_steps
      log_first_iteration: true
      to_local: true
      to_wandb: false
      num_batches: 4
      save_suffix: ''
      log_images_kwargs:
        ddim_steps: 25
        ddim_eta: 1.0
        unconditional_guidance_scale: 7.5
        timestep_spacing: uniform_trailing
        guidance_rescale: 0.7
        enable_camera_condition: true